<ion-header>
  <ion-toolbar>
    <ion-title>get-money-add</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card class="ion-padding">
        <ion-item>
          <ion-row>
            <h2>ตารางการเก็บเงิน</h2>
          </ion-row>
        </ion-item>
        <ion-row>
          <ion-col text-center>
            <span>ตารางเก็บเงินสายอุดร-อิสาณไทย รอบบิลวันที่ 05-10/สิงหาคม/2562</span><br>
            <span>วันที่ 11 เดือน ตุลาคม พ.ศ. 2562</span>
          </ion-col>
        </ion-row>
        <ion-grid>
    
    
          <ion-row>
            <ion-segment scrollable>
              <table class="fixed_header">
                <thead>
                  <tr>
                    <th>ลำดับ</th>
                    <th>รายชื่อลูกค้า</th>
                    <th>โซน</th>
                    <th>จ่ายเก่า</th>
                    <th>จ่ายสด</th>
                    <th>ค้างชำระ</th>
                    <th>เงินที่ได้รับ</th>
                    <th>รวมเป็นเงิน</th>
                    <th>สถานะ</th>
                    <th>หมายเหตุ</th>
                    <th>เก็บเงิน</th>
    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>เจ้ดำ</td>
                    <td>อุดร-ไทยอิสาณ</td>
                    <td>200</td>
                    <td>300</td>
                    <td>200</td>
                    <td>{{name1}}</td>
                    <td></td>
                    <td>โอน</td>
                    <td></td>
                    <td><ion-button color="secondary" (click)="presentAlertPrompt()">เก็บเงิน</ion-button></td>
    
    
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>เจ้พร</td>
                    <td>อุดร-ไทยอิสาณ</td>
                    <td>200</td>
                    <td>300</td>
                    <td>200</td>
                    <td></td>
                    <td></td>
                    <td>โอน</td>
                    <td></td>
                    <td><ion-button color="secondary" (click)="presentAlertPrompt()">เก็บเงิน</ion-button></td>
    
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>เจ้ฟ้า</td>
                    <td>อุดร-ไทยอิสาณ</td>
                    <td>200</td>
                    <td>300</td>
                    <td>200</td>
                    <td></td>
                    <td></td>
                    <td>โอน</td>
                    <td></td>
                    <td><ion-button color="secondary" (click)="presentAlertPrompt()">เก็บเงิน</ion-button></td>
    
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>เจ้หนาว</td>
                    <td>อุดร-ไทยอิสาณ</td>
                    <td>200</td>
                    <td>300</td>
                    <td>200</td>
                    <td></td>
                    <td></td>
                    <td>โอน</td>
                    <td></td>
                    <td><ion-button color="secondary" (click)="presentAlertPrompt()">เก็บเงิน</ion-button></td>
    
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>เจ้นอน</td>
                    <td>อุดร-ไทยอิสาณ</td>
                    <td>200</td>
                    <td>300</td>
                    <td>200</td>
                    <td></td>
                    <td></td>
                    <td>โอน</td>
                    <td></td>
                    <td><ion-button color="secondary" (click)="presentAlertPrompt()">เก็บเงิน</ion-button></td>
    
                  </tr>
                </tbody>
              </table>
            </ion-segment>
          </ion-row>
        </ion-grid>
      </ion-card>
</ion-content>
