<ion-header>
  <ion-toolbar>
    <ion-title>เพิ่มการขายสด</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
        
        <ion-row >
            <ion-col text-center>
              <h1>เพิ่มลูกค้าที่ทำรายการขายสด</h1>
            </ion-col>
        </ion-row>
        <ion-card class="ion-padding"><ion-grid>
        <ion-row class="ion-justify-content-center">

            <ion-col size="4">
                <ion-label>ชื่อลูกค้า </ion-label>
               <ion-input class="input1"></ion-input>
             </ion-col>

             <ion-col size="4">
                <ion-label>สินค้า</ion-label>
               <ion-select type="text" interface="popover" placeholder="สินค้า" >
                  <ion-select-option value="u">ถั่วงอก</ion-select-option>
                  <ion-select-option value="k">เส้นหมี่</ion-select-option>
                  <ion-select-option value="k">เส้นใหญ่</ion-select-option>
                  <ion-select-option value="k">แผ่นเกี้ยว</ion-select-option>
         </ion-select>
            </ion-col>

          </ion-row>
          <ion-row class="ion-justify-content-center">
          <ion-col size="4">
              <ion-label>จำนวน </ion-label>
             <ion-input class="input1"></ion-input>
           </ion-col>

           <ion-col size="4">
              <ion-label>ราคา </ion-label>
             <ion-input class="input1"></ion-input>
           </ion-col>

        </ion-row>
        </ion-grid>
      </ion-card>
        <ion-row class="ion-justify-content-center">
            <ion-col size="2">
                  <ion-button  color="success" (click)="presentAlertConfirm()">บันทึก</ion-button>
          </ion-col>
           </ion-row>
</ion-content>
